<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BallRound.png</key>
		<dict>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>20</integer>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>width</key>
			<integer>21</integer>
			<key>x</key>
			<integer>131</integer>
			<key>y</key>
			<integer>96</integer>
		</dict>
		<key>BallBowling.png</key>
		<dict>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>20</integer>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>54</integer>
			<key>y</key>
			<integer>24</integer>
		</dict>
		<key>BallSquare.png</key>
		<dict>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>20</integer>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>54</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>Brick.png</key>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>30</integer>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>96</integer>
		</dict>
		<key>Eye.png</key>
		<dict>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>50</integer>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>width</key>
			<integer>50</integer>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>Mouth.png</key>
		<dict>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>25</integer>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>width</key>
			<integer>50</integer>
			<key>x</key>
			<integer>79</integer>
			<key>y</key>
			<integer>96</integer>
		</dict>
		<key>Paddle.png</key>
		<dict>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>40</integer>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>width</key>
			<integer>130</integer>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>54</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>0</integer>
		<key>realTextureFileName</key>
		<string>Sprites~ipad.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:01332dca85ebec8da02c66c3248f75ea$</string>
		<key>textureFileName</key>
		<string>Sprites~ipad.png</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>128</integer>
		<key>width</key>
		<integer>256</integer>
	</dict>
</dict>
</plist>
