<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BallBowling@2x.png</key>
		<dict>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>40</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>104</integer>
			<key>y</key>
			<integer>44</integer>
		</dict>
		<key>BallRound@2x.png</key>
		<dict>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>40</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>104</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>BallSquare@2x.png</key>
		<dict>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>40</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>186</integer>
		</dict>
		<key>Brick@2x.png</key>
		<dict>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>60</integer>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>width</key>
			<integer>150</integer>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>186</integer>
		</dict>
		<key>Eye@2x.png</key>
		<dict>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>Mouth@2x.png</key>
		<dict>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>50</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>154</integer>
			<key>y</key>
			<integer>186</integer>
		</dict>
		<key>Paddle@2x.png</key>
		<dict>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>80</integer>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>width</key>
			<integer>260</integer>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>104</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>0</integer>
		<key>realTextureFileName</key>
		<string>Sprites@2x~ipad.png</string>
		<key>size</key>
		<string>{512,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:144be34237f862132d324651afa495f8$</string>
		<key>textureFileName</key>
		<string>Sprites@2x~ipad.png</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>256</integer>
		<key>width</key>
		<integer>512</integer>
	</dict>
</dict>
</plist>
